
/* productViewPage imgView horizontal Slider CSS Script */

.productViewPage .imgView .HorizontalSlider .flex-container {
	overflow-x: scroll;
	white-space: nowrap;
}
.productViewPage .imgView .HorizontalSlider .flex-container::-webkit-scrollbar{
    display: none;
}

.productViewPage .imgView .HorizontalSlider .box {
	display: inline-block;
	border: 1px solid black;
	margin: 5px;
	height: 70px;
    width: 70px;
    transition: all 0.7s ease;
}